body {
  background-image: url('../assets/images/background2.jpg');
  background-repeat: repeat;
  display: block;
  font-family: Arial;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 3px;
  color: rgb(232, 248, 8);
  display: block;
  font-size: 48px;
  height: 50px;
  margin-top: 40px;
  text-align: center;
}

#loading {
  background-color: #000000;
  box-shadow: 0 0 8px 1px #fe6c07;
  display: block;
  height: 100vh;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 10;
}

#energy,
#health {
  display: block;
  left: -10000px;
  position: absolute;
  top: 0;
  z-index: 10;

  & .ldBar.label-center > .ldBar-label {
    display: none;
  }
}

#health {
  & .ldBar path {
    fill: red;
  }
}

.ldBar {
  margin-left: auto;
  margin-right: auto;
}

.ldBar-fat {
  margin-top: calc(50vh - 90px);
}

.ldBar-skinny {
  margin-top: calc(50vw - 90px);
}

#mainview {
  background-color: #000000;
  box-shadow: 0 0 8px 1px #fe6c07;
  display: block;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}

.hidden {
  display: none !important;
}

@media (max-width: 1000px)  {
  body  {
    font-size: 10px;
  }
}

@media (max-width: 767px)  {
  body  {
    font-size: 8px;
  }
}
